
.background {
    position: absolute;
    z-index: 1;
    right: 0;

}
.background svg {
    color: white;
    opacity: 0.2;
}
.background circle {
    stroke-dashoffset: 0 !important;
}
.foreground {
    position: relative;
    z-index: 2;
}
.foreground svg {
    color: white;
}
.foreground circle {
}