* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
    -ms-overflow-style: none;
}
html *
{
    font-family: "Heebo", "sans-serif" !important;
}

#dashboard-table::-webkit-scrollbar {
    width: 4px;


}#dashboard-table::-webkit-scrollbar:horizontal {
    height: 3px;
 }
#dashboard-table::-webkit-scrollbar-track {
    margin: 16px 0;
}
#dashboard-table::-webkit-scrollbar-track-piece {
    background-color: inherit;

}
#dashboard-table::-webkit-scrollbar-thumb {
    background-color: #2E3092;
    outline: 1px solid #2E3092;
    border-radius: 60px;
    z-index: 9999999999999999999999999999999;
}

@-moz-keyframes rotate90 {
  100% {
    -moz-transform: rotate(90deg);
    transform:rotate(90deg);
  }
}
@-webkit-keyframes rotate90 {
  100% {
     -webkit-transform: rotate(90deg);
     transform:rotate(90deg);
     }
}
@keyframes rotate90 {
  100% {
      -webkit-transform: rotate(90deg);
      transform:rotate(90deg);
  }
}
